@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e6ded6;
}

@font-face {
    font-family: 'Almarena-Mono';
    src: url('/public/fonts/Almarena-Mono-Display-Light.otf');
}

@font-face {
    font-family: 'Almarena-Mono-Light';
    src: url('/public/fonts/Almarena-Mono-Light.otf');
}

[x-cloak] {
    display: none;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    opacity: 0.05;
    z-index: 1000;
    pointer-events: none;
    background: url('/public/noise.gif');
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    font-family: 'Lato', sans-serif;
    color: #2A2927;
    text-decoration: none;
}

form {
    max-width: 75rem;
    margin: 0 auto;
    border-left: 1px solid #2A2927;
    border-right: 1px solid #2A2927;
    border-bottom: 1px solid #2A2927;
}

.track_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2A2927;
    transition: all 0.2s ease-in-out;

    .spliter {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .track_cover {
        width: 6rem;
        height: 6rem;
        cursor: pointer;
    }

    .info_container{
        display: flex;
        flex-direction: column;
        width: 20vw;

        .track_title {
            font-weight: 900;
            font-size: 1.3rem;
            transition: all 0s ease-in-out;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .track_artist {
            font-weight: 300;
            font-size: 0.8rem;
            &:hover {
                font-weight: 900;
                cursor: pointer;
            }
        }
    }

    .track_player {
        audio {
            width: 50vw;    
        }
        audio::-webkit-media-controls-panel {
            background-color: #2A2927;
        }
        audio::-webkit-media-controls-panel {
            background-color: #e6ded6;
        }
        audio::-webkit-media-controls-play-button {
            background-color: #e6ded6;

            &:hover {
                background-color: #2a292720;
                border-radius: 32px;
            }
        }
    }

    .track_info_container {
        margin-right: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;

        .track_stream {
            font-size: 0.65rem;
            font-weight: 300;
        }
        .track_duration {
            font-weight: 600;
        }
    }

    &:hover {
        background-color: #2A2927;
        color: #e6ded6;

        p, h3, h4 {
            color: #e6ded6;
        }
    }
}