@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e6ded6;
}

@font-face {
    font-family: 'Almarena-Mono';
    src: url('/public/fonts/Almarena-Mono-Display-Light.otf');
}

@font-face {
    font-family: 'Almarena-Mono-Light';
    src: url('/public/fonts/Almarena-Mono-Light.otf');
}

[x-cloak] {
    display: none;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    opacity: 0.05;
    z-index: 1000;
    pointer-events: none;
    background: url('/public/noise.gif');
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    font-family: 'Lato', sans-serif;
    color: #2A2927;
    text-decoration: none;
}

form {
    max-width: 75rem;
    margin: 0 auto;
    border-left: 1px solid #2a2927;
    border-right: 1px solid #2a2927;
    border-bottom: 1px solid #2a2927;
}
form .input_container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2a2927;
}
form .input_container label {
    font-size: 1.3rem;
    padding: 15px 10px;
}
form .input_container input, form .input_container select {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #2a2927;
}
.track_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2a2927;
    transition: all 0.2s ease-in-out;
}
.track_container .spliter {
    display: flex;
    align-items: center;
    gap: 15px;
}
.track_container .track_cover {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}
.track_container .info_container {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.track_container .info_container .track_title {
    font-weight: 900;
    font-size: 1.3rem;
    transition: all 0s ease-in-out;
}
.track_container .info_container .track_title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.track_container .info_container .track_artist {
    font-weight: 300;
    font-size: 0.8rem;
}
.track_container .info_container .track_artist:hover {
    font-weight: 900;
    cursor: pointer;
}
.track_container .track_player audio {
    width: 50vw;
}
.track_container .track_player audio::-webkit-media-controls-panel {
    background-color: #2a2927;
}
.track_container .track_player audio::-webkit-media-controls-panel {
    background-color: #e6ded6;
}
.track_container .track_player audio::-webkit-media-controls-play-button {
    background-color: #e6ded6;
}
.track_container .track_player audio::-webkit-media-controls-play-button:hover {
    background-color: #2a2927 20;
    border-radius: 32px;
}
.track_container .track_info_container {
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.track_container .track_info_container .track_stream {
    font-size: 0.65rem;
    font-weight: 300;
}
.track_container .track_info_container .track_duration {
    font-weight: 600;
}
.track_container:hover {
    background-color: #2a2927;
    color: #e6ded6;
}
.track_container:hover p, .track_container:hover h3, .track_container:hover h4 {
    color: #e6ded6;
}